.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .container {
      height: 80px;
      display: flex;
      align-items: center;
      transition: padding .3s linear;
    }
    &__logo {
      flex: 0 0 190px;
      transition: all .3s linear;
      span {
        font-size: 11px;
      }
    }
    &__menu {
      flex: 1 1 auto;
      position: relative;
    }
    &.scrolled {
      .header__logo {
        transform: scale(0.8);
        transform-origin: center left;
      }
      .menu {
        top: 60px;
      }
      .container {
        height: 60px;
      }
    }
    &.active {
        .icon-menu {
            justify-content: center;
            span {
              transform: scale(0)
            }
            &::before {
              position: absolute;
              transform: rotate(45deg)
            }
            &::after {
              position: absolute;
              transform: rotate(-45deg)
            }
        }
        .menu {
            visibility: visible;
            opacity: 1;
            a {
              animation: translateY .5s linear both;
              animation-delay: calc(var(--item-index)*0.2s);
              animation-timing-function: cubic-bezier(.25,.1,.25,1);
            }
          }
    } 
}
.menu {
  ul { 
    display: flex;
    justify-content: center;
    align-items: center;  
    @media (max-width: $bp2) {
      display: block;
      li {
        overflow: hidden;
        margin: 30px;  
      }
    }
    @media (max-width: $bp4) {
      li {
        margin: 30px 10px;  
      }
    }
  }
  a {
    display: inline-block;
    padding: 0 10px;
    font-size: 35px;
    color: #fff;
    transition: all .2s ease;
    @media (min-width: $bp2) {
      color: $maincolor;
      font-size: 18px;
      font-weight: 700;
      &:hover,&.active {
        color: $orange;
      }
      &.active {
        pointer-events: none;
      }
    }
    @media (max-width: $bp4) {
      font-size: 25px;
    }
  }
  @media (max-width: $bp2) {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: $maincolor;
    top: var(--header-inner);
    left: 0;
    width: 100%;
    bottom: 0;
    overflow: scroll;
    z-index: 100;
    transition: all .3s ease;
  }
}
.icon-menu {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
  @media (max-width: $bp2) {
    display: flex;
    width: 27px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    span, &::before, &:after{
        width: 25px;
        height: 3px;
        background-color: #000;
        transition: all .3s ease;
    }
    &::before, &:after {
        content: "";
    } 
  }
}